@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'lato' , sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

img {
    max-width: 90%;
    display: block;
}

.company-img-logo {
    width: 200px;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

/** LAYOUT **/

.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
  /**  border: 1px solid green; **/
    padding-bottom:  1em;
    margin-bottom: 2.5em;
    margin-top: 0.5em;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    box-shadow: 0 0 8px black;
    background: #fafafa;
}

.card_image {
    max-width: 100%;
    display: block;
}

.card_content {
    padding:0 15px;
}

.card_info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #fff;
    border-bottom: 5px solid #C2F5CC;
    margin-bottom: 2.5em;
}

.subtitle {
    font-weight: 700;
    color: #000;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.button {
    text-decoration: none;
    color: black;
    border: 1px solid green;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: .5em;
}

.button:hover,
.button:focus {
    background-color: transparent;
    transform: scale(0.90);
}

@media (min-width: 675px) {
    .container {
        flex-direction: row;
    }
}

/** NAVIGATION **/

nav ul {
    list-style: none;
    display: flex;
    padding: 0 1em;
}

nav li {
    margin-left: 2em;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav a:hover,
nav a:focus {
    border-bottom: 2px solid #000;
    padding-bottom: 0.5em;
}

.current-page {
    border-bottom: 2px solid #000;
}

.current-page:hover {
    color: 1px solid #000;
}

/** TYPOGRAPHY **/ 
h1 {
    font-family: 'lato' , sans-serif;
    font-weight: 700;
    color: #000;
    margin: 0;
}

p {
    color: #000;
    text-align: justify;
    color: #000;
    font-weight: bold;
    font-size: 1.1rem;
}

.review {
    text-align: center;
    font-weight: 900;
    color: #000;
    font-size: 2rem;
    padding: .5em;
    margin-bottom: 0;
    margin-top: -1.5em;
}

.review-button {
    text-align: left;
    margin-top: -1.9em;
    margin-left: 10em;
}

/** About Us **/
.container-about-us {
    margin-top: -2.5em;
}

.all-product-image {
    border-radius: 30px;
    margin: 1.5em;
    width: 2000px;
}

.about-us {
    padding: .5em;
}

.about-us-subtitle {
    padding: .3em;
    margin-bottom: -1em;
}

/**Footer**/
.footer-article {
    padding: .5em;
}

footer {
    background-color: #C2F5CC;
}

@media (max-width: 675px) {
    nav ul {
        width: 90%;
        max-width: 360px;
        display: flex;
        justify-content: center;
    }

    nav li {
        margin: 0 .5em;
        padding: 0 .5em;
    }

    nav i {
        display: flex;
        margin: .1em;
    }

    .company-img-logo {
        width: 80%;
        max-width: 360px;
        margin: 0 auto;
    }

    .subtitle {
        text-align: center;
        font-size: .9rem;
    }

    .container-flex {
        display: flex;
        flex-direction: column;
    }

    .cards {
        width: 100%;
        max-width: 360px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .review-button {
        margin-left: 0;
        padding-left: 1.5em;
    }

}



